
@{
    ViewData["Title"] = "GetById";
    Layout = null;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@this.ViewBag.Result.Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
                <div>
                    <label>Tên</label>
                    <input type="text" id="Name" class="form-control" value="@this.ViewBag.Result.Name" />
                </div>
                <div>
                    <label>Hình ảnh</label>
                    <input type="text" id="Image" class="form-control" value="@this.ViewBag.Result.Image" />
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" onclick="Save();" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>
<script>
    function Save() {
        var Name = $("#Name").val();
        var Image = $("#Image").val();
        $.post(
            '/AdminStory/StoryExecuteSave',
            {
                ActionCmd: {
                    Story: {
                        StoryId: @this.ViewBag.Result.StoryId,
                        Name: Name,
                        Image: Image
                    }
                }
            }, function (result) {
                alert(result.message);
            }
        )
    }
</script>
